{% extends "core/base.html" %} {%load static%} {%block content%}

<!-- cabecera menu principal -->

<!-- contenido principal de la pagina -->
<main roll="main">
  <h1 class="text-center">Cthulhu Games</h1>
  <div class="container">
    <section class="text-center">
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="{%static 'core/img/carrusel4.png'%}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="{%static 'core/img/carrusel 2.jpg'%}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="{%static 'core/img/carrusel5.png'%}"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
  </div>
</main>
<br />
<!-- prodcutos de la tienda -->
<div class="album py-2">
  <div class="container">
    <div id="producto-item" class="row">

      {%for producto in productos %}
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="colorfondo card mb-4 box-shadow">
          <div class="text-center">
            <img
              src="/media/{{producto.imagen}}"
              class="card-img-top thumbnail-producto"
              alt=""
            />
          </div>
          <div class="card-body">
            <h5 class="card-tittle">{{producto.nombre}}</h5>
            <div class="card-text">
              <div class="lead text-dark fw-bold">EN OFERTA</div>
              <br />
              <div class="precio-real text-danger">{{producto.precio}}</div>
              <div class="precio-oferta lead fw-bold">{{producto.oferta}}</div>
              <b>Descripción</b>
              <div class="text-truncate">{{producto.descripcion}}</div>
              <b>**  stock 5 unidades</b>
            </div>
            <div class="card-footer d-flex justify-content-center text-center">
              <div class="btn-group">
                <a
                  href="{%url 'ficha' producto.id %}"
                  class="btn btn-sm btn-dark"
                  >comprar</a
                >
                <button
                  type="button"
                  onclick="window.location.href='carrito.html'"
                  class="btn btn-sm btn-dark"
                >
                  Agregar al carrito
                </button>
              </div>
            </div>
          </div>
        </div>
        </div>
      {% endfor %}
    </div>

    
  </div>
</div>

{%endblock content%}
