{% extends "core/base.html" %} {%load static%} {%block content%}

    <div id="menu_admin"></div>
    <div class="container-fluid mt-5">
        <h1 class="text-center mb-4">Mantenedor de Producto</h1>
    
        <div id="alertContainer"></div>
    
        <div class="card border-0" style="background-color: inherit;">
            <div class="border-0 textonegro" style="color: black; font-size: large;">
                Crear/Actualizar Producto
            </div>
            <div class="card-body">
                <form id="productForm" class="row">
    
                    <div class="col-md-6 border-0 textonegro">
                        <div class="form-group">
                            <label for="categoria">Categoría:</label>
                            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                              <option selected></option>
                              <option value="1">RPG</option>
                              <option value="2">Aventura</option>
                              <option value="3">Acción</option>
                              <option value="4">Deportes</option>
                            </select>
                          </div>
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" class="form-control" id="nombre" name="nombre"  >
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripción:</label>
                            <textarea class="form-control" id="descripcion" name="descripcion" rows="3" ></textarea>
                        </div>
                        <div class="form-group">
                            <label for="precio">Precio:</label>
                            <input type="number" class="form-control" id="precio" name="precio">
                        </div>
                        <div class="form-group">
                            <label for="descuentoSub">Descuento para Suscriptores (%):</label>
                            <input type="number" class="form-control" id="descuentoSub" name="descuentoSub">
                        </div>
                        <div class="form-group">
                            <label for="descuentoOferta">Descuento para Oferta (%):</label>
                            <input type="number" class="form-control" id="descuentoOferta" name="descuentoOferta" >
                        </div>
                        <br>
                        
                    </div>
                    <div class=" col form-group">
                        <img  class="registro_foto" src="img/descargar (10).jpg" alt="">
                        <br>
                        <br>
                        <div> <input type="file" class="btn btn-dark btn-block">
                        </div>
                    </div>
                    <div class="col-md-6">

                        <button type="submit" class="btn btn-dark btn-block">Guardar Nuevo</button>
                        &nbsp; &nbsp; &nbsp;
                        <button type="button" class="btn btn-dark btn-block">Eliminar</button>
                    </div>
    
                </form>
<br>
<br>
<br>
                    <div style="color: black; font-size: 25px;" class="textonegro">
                        Lista de Videojuegos
                    </div>
                    <br>
                    <div >
                        <table class=" fondo_negro borde table table-bordered table-hover">
                            <thead class="table-dark">
                                <tr>
                                    <th>ID</th>
                                    <th>Categoría</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Precio ($)</th>
                                    <th>Dcto. Suscriptor (%)</th>
                                    <th>Dcto. Oferta (%)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>001</td>
                                    <td>Aventura</td>
                                    <td>The Legend of Zelda: Breath of the Wild</td>
                                    <td>Explora el vasto mundo abierto de Hyrule.</td>
                                    <td>59.990</td>
                                    <td>10</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>002</td>
                                    <td>Acción</td>
                                    <td>Red Dead Redemption 2</td>
                                    <td>Un épico viaje por el viejo oeste.</td>
                                    <td>49.990</td>
                                    <td>8</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>003</td>
                                    <td>RPG</td>
                                    <td>The Witcher 3: Wild Hunt</td>
                                    <td>Embárcate en la cacería de monstruos.</td>
                                    <td>39.990</td>
                                    <td>5</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>004</td>
                                    <td>Deportes</td>
                                    <td>FIFA 22</td>
                                    <td>El simulador de fútbol más realista hasta la fecha.</td>
                                    <td>59.990</td>
                                    <td>7</td>
                                    <td>4</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                
                
            </div>
        </div>
    </div>
    
<br>
<br>
   {%endblock content%}
{% block content %}
<script src="{%static 'core/js/scrip.js' %}"></script>
<script src="{%static 'core/js/validador.js'%}"></script>
<script src="{%static 'core/js/validador_sin_rut.js'%}"></script>

{% endblock content %}
