{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="container">
      <form id="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
          <h1 class=""> Mantenedor de Bodega </h1>
        <div class="row">
          <div class="col-md-8">
            <div class="mb-3">
              {{ form|as_bootstrap_form }}
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-center mb-2">
              {% if form.imagen.value %}
                <img id="cuadro-imagen" src="/media/{{ form.imagen.value }}" class="img-thumbnail me-3"
                     style="width: 250px; height: auto; object-fit: cover; background-color: #1A1A1A;">
              {% else %}
                <img id="cuadro-imagen" src="{% static 'core/img/sin-imagen.png' %}" class="img-thumbnail me-3"
                     style="width: 250px; height: auto; object-fit: cover; background-color: #1A1A1A;">
              {% endif %}
            </div>
          </div>
        </div>

        <div class="mt-2 mb-3 text-center">
          <button type="submit" class="btn btn-dark btn-md"> Agregar </button>
          <button type="reset" class="btn btn-dark btn-md" onclick="document.getElementById('cuadro-imagen').src='{% static 'core/img/sin-imagen.png' %}';"> Nuevo </button>
        </div>
      </form>
</div>

<br />


{% if productos %}
<div class="container mt-6">  
  <table id="tabla-principal" class="fondo_negro borde table table-bordered table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Categoría</th>
        <th>Nombre</th>
        <th>Imagen</th>
        <th>Estado</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      {% regroup productos by bodega_id as grouped_productos %}
      {% for bodega_id, grouped in grouped_productos %}
        {% for producto in grouped %}
          <tr>
            <td>{{ producto.bodega_id }}</td>
            <td>{{ producto.nombre_categoria }}</td>
            <td>{{ producto.nombre_producto }}</td>
            <td>
              <img src="/media/{{ producto.imagen }}" class="producto-sm" alt="">
            </td>
            <td>{{ producto.estado }}</td>
            <td>
              {% if producto.estado == 'En bodega' %}
                <a href="{% url 'eliminar_producto_en_bodega' producto.bodega_id %}" class="btn btn-danger btn-sm">Eliminar</a>
              {% else %}
                <a href="#" class="btn btn-primary btn-sm disabled">Eliminar</a> <!-- Asegúrate de definir una URL válida aquí -->
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock content %}

{% block script %}

<input type="hidden" id="url_obtener_productos" value="{% url 'obtener_productos' %}">
<script src="{% static 'core/js/bodegaa.js' %}"></script>
<input type="hidden" id="url_obtener_productos" value="{% url 'obtener_productos' %}">
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">
  <script src="{% static 'core/js/bodegaa.js' %}"></script>
  <script>
    $(document).ready(function() {
      $('#tabla-principal').DataTable({
        "language": {
          "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
        }
      });
      
      // Escuchar cambios en el input de imagen
      $('#id_imagen').change(function(evt) {
        const file = evt.target.files[0];
        const reader = new FileReader();
        reader.onload = function(e) {
          $('#cuadro-imagen').attr('src', e.target.result);
        };
        reader.readAsDataURL(file);
      });
    });
  </script>
{% endblock script %}