{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
{% if boleta %}
<div id="menu_admin"></div>
<h1 class="text-center texto ">Boleta</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="texto">
                Boleta N° {{ boleta.nro_boleta }} de {{ boleta.cliente.usuario.first_name }} {{ boleta.cliente.usuario.last_name }}
            </h1>
        </div>
        <div class="col">
            <table id="boleta_tabla_estados" style="float: right;">
                <tr>
                    <td class="td_img_estado_boleta">
                        <img src="{% static 'core/img/vendidos.png' %}" style="width: 75px;">
                        &nbsp; &nbsp; &nbsp; &nbsp;
                    </td>
                    <td class="td_img_estado_boleta">
                        <img src="{% static 'core/img/despachados.png' %}" style="width: 75px;">
                        &nbsp; &nbsp; &nbsp;
                    </td>
                    <td class="td_img_estado_boleta">
                        <img src="{% static 'core/img/entregados.png' %}" style="width: 75px;">
                        &nbsp;
                    </td>
                </tr>
                <tr style="font-size: 12px;">
                    <td>
                        Vendido <br/>
                        {% if boleta.fecha_venta %}
                            {{ boleta.fecha_venta|formatear_fecha }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        Despachado <br/>
                        {% if boleta.fecha_despacho %}
                            {{ boleta.fecha_despacho|formatear_fecha }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        Entregado <br/>
                        {% if boleta.fecha_entrega %}
                            {{ boleta.fecha_entrega|formatear_fecha }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
                
            </table>
        </div>
    </div>
    <!-- tabla de productos -->
    <div class="row">
        <div class="col">
            <table class="fondo_negro borde table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Categoría</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Suscriptor (%)</th>
                        <th>Oferta (%)</th>
                        <th>Dcto. Total (%)</th>
                        <th>Dcto. Total ($)</th>
                        <th>Precio Final</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detalle in detalles_boleta %}
                    <tr>
                        <td>{{ detalle.bodega.producto.categoria.nombre }}</td>
                        <td>{{ detalle.bodega.producto.nombre }}</td>
                        <td>{{ detalle.precio }}</td>
                        <td>{{ detalle.descuento_subscriptor|formatear_porcentaje }}</td>
                        <td>{{ detalle.descuento_oferta|formatear_porcentaje }}</td>
                        <td>{{ detalle.descuento_total|formatear_porcentaje }}</td>
                        <td>{{ detalle.descuentos }}</td>
                        <td>{{ detalle.precio_a_pagar }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <!-- datos tributarios -->
    <div class="row">
        <div class="col">
            <table style="float: right">
                <tr>
                    <td class="textonegro">Precio sin IVA $</td>
                    <td><input readonly style="text-align: right;" type="text" name="Precio_sin_iva" id="precio_sin_iva" value="{{ boleta.monto_sin_iva|formatear_dinero }}"></td>
                </tr>
                <tr>
                    <td class="textonegro">Valor del IVA $</td>
                    <td><input readonly style="text-align: right;" type="text" name="valor_iva" id="valor_sin_iva" value="{{ boleta.iva|formatear_dinero }}" /></td>
                </tr>
                <tr>
                    <td class="textonegro">Total a Pagar $</td>
                    <td><input readonly style="text-align: right;" type="text" name="total_pagar" id="total_pagat" value="{{ boleta.total_a_pagar|formatear_dinero }}" /></td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% else %}
<h1> No se puede mostrar la boleta </h1>
{% endif %}
{% endblock content %}

{% comment %} <div class="instrucciones-para-el-alumno">
            INSTRUCCIONES PARA EL ALUMNO (ELIMINALO DESPUES DE LEERLO):<br>
            - Pega tu código html que muestra los items de la boleta
            - Puedes usar los campo sugeridos dentro de la tabla, pero tienes 
              que encerrarlos entre dobles llaves "{{" y usar el filtro
        </div>

        {{item.bodega.producto.categoria.nombre}}  <br>
        {{item.bodega.producto.nombre}}  <br>
        {{item.precio|formatear_dinero}}  <br>
        {{item.descuento_subscriptor|formatear_porcentaje}}  <br>
        {{item.descuento_oferta|formatear_porcentaje}}  <br>
        {{item.descuento_total|formatear_porcentaje}}  <br>
        {{item.descuentos|formatear_dinero}}  <br>
        {{item.precio_a_pagar|formatear_dinero}}  <br>
    
        {{boleta.monto_sin_iva|formatear_dinero}}  <br>
        {{boleta.iva|formatear_dinero}}  <br>
        {{boleta.total_a_pagar|formatear_dinero}}  <br> {% endcomment %}
