{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

<div class="container mt-5">
  <h1 class="text-center texto ">Carrito de Compras</h1>
  <br>
  <table class=" table fondo_negro borde table-striped">
    <thead class="">
      <th scope="col">#</th>
      <th scope="col" class="d-none d-lg-blok d-lg-table-cell ">Categoría</th>
      <th scope="col">Producto</th>
      <th scope="col">Precio</th>
      <th scope="col"class="d-none d-lg-blok d-lg-table-cell ">Suscriptor</th>
      <th scope="col"class="d-none d-lg-blok d-lg-table-cell ">Oferta</th>
      <th scope="col"class="d-none d-lg-blok d-lg-table-cell ">Descuentos (%)</th>
      <th scope="col"class="d-none d-lg-blok d-lg-table-cell ">Descuentos ($)</th>
      <th scope="col">Precio</th>
      <th scope="col">Opciones</th>
    </thead>
    <tbody>
        {% for item in detalle_carrito %}
                <tr>
                    <td> {{ item.id }} </td>
                    <td> {{ item.producto.categoria.nombre }} </td>
                    <td> {{ item.producto.nombre }} </td>
                    <td> {{ item.precio|formatear_dinero }} </td>
                    <td> {{ item.descuento_subscriptor|formatear_porcentaje }} </td>
                    <td> {{ item.descuento_oferta|formatear_porcentaje }} </td>
                    <td> {{ item.descuento_total|formatear_porcentaje }} </td>
                    <td class="text-end"> {{ item.descuentos|formatear_dinero }} </td>
                    <td class="text-end"> {{ item.precio_a_pagar|formatear_dinero }} </td>
                    <td>
                        <div class="btn-group">
                            <a href="{% url 'ficha' item.producto.id %}" class="btn btn-sm btn-dark"> Detalle </a> 
                            <a href="{% url 'eliminar_producto_en_carrito' item.id %}" class="btn btn-sm btn-danger"> Eliminar </a> 
                        </div>
                    </td>
                </tr>
            {% endfor %}
      
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col textonegro">
      <table class="tabla-fondo-blanco " style="float: right">
        
        <tr>
          <td class="textonegro">Precio sin IVA $</td>
          <td><input readonly style="text-align: right;" type="text" name="Precio_sin_iva" id="precio_sin_iva" value="{{ monto_sin_iva|formatear_dinero }}"></td>
      </tr>
      <tr>
          <td class="textonegro">Valor del IVA $</td>
          <td><input readonly style="text-align: right;" type="text" name="valor_iva" id="valor_sin_iva" value="{{ iva|formatear_dinero }}" /></td>
      </tr>
      <tr>
          <td class="textonegro">Total a Pagar $</td>
          <td><input readonly style="text-align: right;" type="text" name="total_pagar" id="total_pagat" value="{{ total_a_pagar|formatear_dinero }}" /></td>
      </tr>
      </table>
    </div>
  </div>
  
  <br>
  <div class="d-flex justify-content-end">
    <a href="{% url 'vaciar_carrito' %}" class="borde_redondo btn btn-dark mb-2"> Vaciar carrito </a>
    <a href="#" class="borde_redondo btn btn-dark mb-2"> Continuar al pago </a>
  </div>
  
</div>

  
{% endblock content %}
