{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
    

<h1 class="text-center texto">Nosotros</h1>  
<div class="text-center " style="font-size:large;">
  <BR>

  <b><p>¡Bienvenido a nuestra página web de venta de videojuegos!</p>

  <p>
    Sumérgete en el emocionante mundo de los videojuegos con nuestra amplia
    selección de títulos para todas las plataformas. En nuestra tienda en línea,
    encontrarás una variedad de juegos que van desde los clásicos más queridos
    hasta los lanzamientos más recientes y emocionantes.
  </p>

  <p>
    Nuestro objetivo es brindarte la mejor experiencia de compra posible, por
    eso nos esforzamos por ofrecerte un catálogo diverso y actualizado
    constantemente con los últimos lanzamientos. Ya seas un fanático de la
    acción, un estratega consumado o un amante de las aventuras épicas, tenemos
    algo para ti.
  </p>

  <p>
    Además de una amplia gama de juegos, también ofrecemos una variedad de
    servicios para mejorar tu experiencia de juego. Desde tarjetas de regalo
    hasta membresías de suscripción, estamos aquí para ayudarte a obtener lo
    mejor de tu consola o PC.
  </p>

  <p>
    Nos enorgullece ofrecer un servicio al cliente excepcional. Nuestro equipo
    está siempre disponible para responder tus preguntas, ayudarte a encontrar
    el juego perfecto o resolver cualquier problema que puedas tener.
  </p>

  <p>
    Explora nuestra página web y descubre todo lo que tenemos para ofrecerte. Ya
    sea que estés buscando un nuevo juego para ti mismo o un regalo para un ser
    querido, ¡estamos seguros de que encontrarás algo emocionante en nuestra
    tienda en línea de videojuegos!
  </p>

  <p>¡Gracias por elegirnos como tu destino de compras de videojuegos!</p>
</b>
</div >

<div class="container-fluid" >
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card" style="width: 18rem;" >
        <img src="{%static 'core/img/jesus2.jpg'%}" class="card-img-top" alt="..." />
        <div class="card-body" > 
          <h5 class="card-title">Jesus</h5>
          <p class="card-text">Asistente Manager</p>
          <a href="mailto:jesus@cthulhu.cl" class="btn btn-dark">jesus@cthulhu.cl</a>
        </div>
      </div>
    </div>
    
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card" style="width: 18rem;">
        <img src="{%static 'core/img/georgui.jpg'%}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Georgui</h5>
          <p class="card-text">Community Manager</p>
          <a href="mailto:georgui@cthulhu.cl" class="btn btn-dark">georgui@cthulhu.cl</a>
        </div>
      </div>
    </div>
    
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card" style="width: 18rem;">
        <img src="{%static 'core/img/coni.jpg'%}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Constanza</h5>
          <p class="card-text">Encarga de Marketing</p>
          <a href="mailto:coni@cthulhu.cl" class="btn btn-dark">coni@cthulhu.cl</a>
        </div>
      </div>
    </div>
    
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card" style="width: 18rem;">
        <img src="{%static 'core/img/cris2.jpg'%}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Cristian</h5>
          <p class="card-text">Gerente General</p>
          <a href="mailto:cristian@cthulhu.cl" class="btn btn-dark">cristian@cthulhu.cl</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
{%endblock content%}

