{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}


{% block content %}
  
  <form id="form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container-fluid mt-5">
      <h1 class="text-center mb-4 texto">Mantenedor de Productos</h1>
  
      <div id="alertContainer"></div>
  
      <div class="row justify-content-center">
        <!-- Columna izquierda para los datos del formulario -->
        <div class="col-md-6">
          <div class="card border-0" style="background-color: inherit;">
            <div class="card-body">
              <form id="productForm" class="row">
                <div class="form-group col-md-12">
                  {{ form.categoria|as_bootstrap_field }}
                </div>
                <div class="form-group col-md-12">
                  {{ form.nombre|as_bootstrap_field }}
                </div>
                <div class="form-group col-md-12">
                  {{ form.descripcion|as_bootstrap_field }}
                </div>
                <div class="form-group col-md-12">
                  {{ form.precio|as_bootstrap_field }}
                </div>
                <div class="form-group col-md-12">
                  {{ form.descuento_subscriptor|as_bootstrap_field }}
                </div>
                <div class="form-group col-md-12">
                  {{ form.descuento_oferta|as_bootstrap_field }}
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Columna derecha para la imagen y botones -->
        <div class="col-md-6">
          <div class="card border-0" style="background-color: inherit;">
            <div class="card-body text-center">
              <!-- Imagen del producto -->
              {% if form.instance.imagen %}
              <img id="cuadro-imagen" src="/media/{{ form.instance.imagen }}" class="img-fluid">
              {% else %}
              <img id="cuadro-imagen" src="{% static 'core/img/sin-imagen.png' %}" class="img-fluid">
              {% endif %}
  

            </div>
          </div>
        </div>
      </div>
  
      <!-- Botones centrados -->
      <div class="row justify-content-center mt-3">
        <div class="col-md-6 text-center">
          <button type="submit" class="btn btn-dark">Guardar</button>
          <a href="{% url 'productos' 'crear' '0' %}" class="btn btn-dark">Nuevo</a>
          {% if form.instance.id %}
          <a class="btn btn-dark" href="{% url 'productos' 'eliminar' form.instance.id %}">Eliminar</a>
          {% endif %}
          <input type="file" id="id_imagen" name="imagen" style="display: none;" onchange="document.getElementById('cuadro-imagen').src = window.URL.createObjectURL(this.files[0])">
                <button onclick="event.preventDefault(); document.getElementById('id_imagen').click();" class="btn btn-dark">Seleccionar imagen</button>
        </div>
      </div>
  
    </div>
  </form>
  
  <br>
  
  {% if productos %}
  <div class="container mt-6">   
    <table id="tabla-principal" class="fondo_negro borde table table-bordered table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Categoría</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>%Subs</th>
          <th>%Oferta</th>
          <th>Imagen</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        {% for producto in productos %}
        <tr>
          <td>{{ producto.id }}</td>
          <td>{{ producto.categoria }}</td>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.descripcion }}</td>
          <td>{{ producto.precio|formatear_dinero }}</td>
          <td>{{ producto.descuento_subscriptor|formatear_porcentaje }}</td>
          <td>{{ producto.descuento_oferta|formatear_porcentaje }}</td>
          <td>
            <img src="/media/{{ producto.imagen }}" class="producto-sm" alt="">
          </td>
          <td>
            <a href="{% url 'productos' 'actualizar' producto.id %}" class="btn btn-primary btn-sm">Editar</a>
          </td>
          <td>
            <form method="delete">
              <a href="{% url 'productos' 'eliminar' producto.id %}" class="btn btn-danger btn-sm">Eliminar</a>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
{% endblock content %}

{% block script %}
<script src="{% static 'core/js/productos.js' %}"></script>
{% endblock script %}
