{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}





{% block content %}

<form id="form" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container-fluid mt-5">
    <h1 class="text-center mb-4 texto">Mantenedor de Usuario</h1>

    <div id="alertContainer"></div>

    <div class="row justify-content-center">
      <!-- Columna izquierda para los datos del formulario -->
      <div class="col-md-6">
        <div class="card border-0" style="background-color: inherit;">
          <div class="card-body">
            <form id="productForm" class="row">
              <div class="form-group col-md-12">
                {{ form_usuario.username|as_bootstrap_field }}
              </div>
              <div class="form-group col-md-12">
                {{ form_usuario.first_name|as_bootstrap_field }}
              </div>
              <div class="form-group col-md-12">
                {{ form_usuario.last_name|as_bootstrap_field }}
              </div>
              <div class="form-group col-md-12">
                {{ form_perfil.tipo_usuario|as_bootstrap_field }}
              </div>
              <div class="form-group col-md-12">
                {{ form_perfil.rut|as_bootstrap_field }}
              </div>
              <div class="form-group col-md-12">
                {{ form_usuario.email|as_bootstrap_field }}
              </div>
              <div class="form-group col-md-12">
                {{ form_perfil.direccion|as_bootstrap_field }}
              </div>
              <div class="form-group col-md-12">
                {{ form_perfil.subscrito|as_bootstrap_field }}
              </div>
              <div class="form-group col-md-12">
                {{ form_perfil.imagen|as_bootstrap_field }}
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Columna derecha para la imagen y botones -->
      <div class="col-md-6">
        <div class="card border-0" style="background-color: inherit;">
          <div class="card-body text-center">
            <!-- Imagen de perfil -->
            {% if form_perfil.imagen.value %}
            <img id="cuadro-imagen" src="/media/{{ form_perfil.imagen.value }}" class="img-fluid">
            {% else %}
            <img id="cuadro-imagen" src="{% static 'core/img/sin-imagen.png' %}" class="img-fluid">
            {% endif %}

          </div>
        </div>
      </div>
    </div>

    <!-- Botones centrados -->
    <div class="row justify-content-center mt-3">
      <div class="col-md-6 text-center">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'usuarios' 'crear' '0' %}" class="btn btn-primary">Nuevo</a>
        {% if form_usuario.instance.id %}
        <a class="btn btn-primary" href="{% url 'usuarios' 'eliminar' form_usuario.instance.id %}">Eliminar</a>
        {% endif %}
      </div>
    </div>

  </div>

  {% comment %} {{ form_usuario|as_bootstrap_form }} 
  {{ form_perfil|as_bootstrap_form }} {% endcomment %}
</form>

<br/>
<br/>
<br/>
  <!-- AREA DE TABLA DE USUARIOS -->

  
  {% if usuarios %} 
  

  <div class=" container mt-6">   
    <table id="tabla-principal" class="fondo_negro borde table table-bordered table-hover">
      <thead>
        <tr>
          <th> ID </th>
          <th> Cuenta </th>
          <th> Tipo usuario </th>
          <th> Nombre </th>
          <th> Apellidos </th>
          <th> Correo </th>
          <th> RUT </th>
          <th> Subscrito </th>
          <th> Imagen </th>
          <th> Acciones </th>
        </tr>
      </thead>
      <tbody>
        {% for usuario in usuarios %}
          

        <td> {{usuario.id}}  </td>
        <td> {{usuario.username}} </td>
        <td> {{usuario.perfil.tipo_usuario}} </td>
        <td> {{usuario.first_name}} </td>
        <td>{{usuario.last_name}} </td>
        <td> {{usuario.email}} </td>
        <td> {{usuario.perfil.rut}} </td>
          
            <td> {% if usuario.perfil.subscrito %} Sí {% else %} No {% endif %} </td>
            <td>
              <img src="/media/{{ usuario.perfil.imagen }}" class="usuario-sm" alt="">
            </td>
            
            <td>
              <div class="btn-group">
                <a href="{% url 'usuarios' 'actualizar' usuario.id %}" class="btn btn-primary btn-sm"> Editar </a>
                <a href="{% url 'usuarios' 'eliminar' usuario.id %}" class="btn btn-danger btn-sm"> Eliminar </a>
                <form action="{% url 'cambiar_password' %}" method="post" id="form_{{ usuario.username }}">
                  {% csrf_token %}
                  <input type="hidden" id="username" name="username" value="{{ usuario.username }}">
                  <button class="btn btn-info btn-sm" id="id_generar_password" onclick="document.getElementById('form_{{ usuario.username }}').submit();"> Contraseña </button>
                </form>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  
  {% endif %} 
  
  
    
{% endblock content %}
    

{% block script %}

  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">
  <script>
    $(document).ready(function() {
      $('#tabla-principal').DataTable({
        "language": {
          "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
        }
      });
      
      // Escuchar cambios en el input de imagen
      $('#id_imagen').change(function(evt) {
        const file = evt.target.files[0];
        const reader = new FileReader();
        reader.onload = function(e) {
          $('#cuadro-imagen').attr('src', e.target.result);
        };
        reader.readAsDataURL(file);
      });
    });
  </script>
{% endblock script %}

    



















