{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}





{% block content %}

<form id="form" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container-fluid mt-5">
    <h1 class="text-center mb-4">Mantenedor de Usuario</h1>

    <div id="alertContainer"></div>

    <div class="row justify-content-center">
      <!-- Columna izquierda para los datos del formulario -->
      <div class="col-md-6">
        <div class="card border-0" style="background-color: inherit;">
          <div class="card-body">
            <form id="productForm" class="row">
              <div class="form-group col-md-12">
                {{ form_usuario.username|as_bootstrap_field }}
              </div>
              <div class="form-group col-md-12">
                {{ form_usuario.first_name|as_bootstrap_field }}
              </div>
              <div class="form-group col-md-12">
                {{ form_usuario.last_name|as_bootstrap_field }}
              </div>
              <div class="form-group col-md-12">
                {{ form_perfil.tipo_usuario|as_bootstrap_field }}
              </div>
              <div class="form-group col-md-12">
                {{ form_perfil.rut|as_bootstrap_field }}
              </div>
              <div class="form-group col-md-12">
                {{ form_usuario.email|as_bootstrap_field }}
              </div>
              <div class="form-group col-md-12">
                {{ form_perfil.direccion|as_bootstrap_field }}
              </div>
              <div class="form-group col-md-12">
                {{ form_perfil.subscrito|as_bootstrap_field }}
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Columna derecha para la imagen y botones -->
      <div class="col-md-6">
        <div class="card border-0" style="background-color: inherit;">
          <div class="card-body text-center">
            <!-- Imagen de perfil -->
            {% if form_perfil.imagen.value %}
            <img id="cuadro-imagen" src="/media/{{ form_perfil.imagen.value }}" class="img-fluid">
            {% else %}
            <img id="cuadro-imagen" src="{% static 'core/img/sin-imagen.png' %}" class="img-fluid">
            {% endif %}

            <!-- Campo para seleccionar imagen -->
            <div class="mt-3">
              {{ form_perfil.imagen|as_bootstrap_field }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Botones centrados -->
    <div class="row justify-content-center mt-3">
      <div class="col-md-6 text-center">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'usuarios' 'crear' '0' %}" class="btn btn-primary">Nuevo</a>
        <button onclick="event.preventDefault(); document.getElementById('id_imagen').click();" class="btn btn-primary">Seleccionar imagen</button>
        {% if form_usuario.instance.id %}
        <a class="btn btn-primary" href="{% url 'usuarios' 'eliminar' form_usuario.instance.id %}">Eliminar</a>
        {% endif %}
      </div>
    </div>

  </div>

  {% comment %} {{ form_usuario|as_bootstrap_form }} 
  {{ form_perfil|as_bootstrap_form }} {% endcomment %}
</form>

<br/>
<br/>
<br/>
  <!-- AREA DE TABLA DE USUARIOS -->

  
  {% if usuarios %} 
  


    <table id="tabla-principal" class="table table-hover">
      <thead>
        <tr>
          <th> ID </th>
          <th> Cuenta </th>
          <th> Tipo usuario </th>
          <th> Nombre </th>
          <th> Apellidos </th>
          <th> Correo </th>
          <th> RUT </th>
          <th> Subscrito </th>
          <th> Imagen </th>
          <th> Acciones </th>
        </tr>
      </thead>
      <tbody>
        {% for usuario in usuarios %}
          

        <td> {{usuario.id}}  </td>
          <td> {{usuario.username}} </td>
            <td> {{usuario.perfil.tipo_usuario}} </td>
              <td> {{usuario.first_name}} </td>
                <td>{{usuario.last_name}} </td>
                  <td> {{usuario.email}} </td>
                    <td> {{usuario.perfil.rut}} </td>
          
            <td> {% if usuario.perfil.subscrito %} Sí {% else %} No {% endif %} </td>
            <td>
              <img src="/media/{{ usuario.perfil.imagen }}" class="usuario-sm" alt="">
            </td>
            
            <td>
              <div class="btn-group">
                <a href="{% url 'usuarios' 'actualizar' usuario.id %}" class="btn btn-primary btn-sm"> Editar </a>
                <a href="{% url 'usuarios' 'eliminar' usuario.id %}" class="btn btn-danger btn-sm"> Eliminar </a>
                <form action="{% url 'cambiar_password' %}" method="post" id="form_{{ usuario.username }}">
                  {% csrf_token %}
                  <input type="hidden" id="username" name="username" value="{{ usuario.username }}">
                  <button class="btn btn-info btn-sm" id="id_generar_password" onclick="document.getElementById('form_{{ usuario.username }}').submit();"> Contraseña </button>
                </form>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  
  
  
  {% endif %} 
  
  
    
{% endblock content %}
    
{% block script %}
  <script src="{% static 'core/js/usuarios.js' %}"></script>
{% endblock script %}
    



















{% comment %} {% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="container mt-5 mb-5">
  <div class="card" style="background-color: #f8f9fa;">
    <div class="card-header text-center">
      <h3>Formulario de Registro</h3>
    </div>
    <div class="card-body">
      <form id="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <!-- ÁREA DE DATOS BÁSICOS: username, nombre, apellidos, correo y contraseñas -->
        <div class="row">
          <div class="col-sm-12">
            <h4>Datos de Usuario</h4>
            {{ form_usuario|as_bootstrap_form }}
          </div>
        </div>

        <!-- ÁREA DE DATOS DE PERFIL: rut, dirección y subscrito -->
        <div class="row mt-4">
          <div class="col-sm-12">
            <h4>Datos de Perfil</h4>
            {{ form_perfil.rut|as_bootstrap_field }}
            {{ form_perfil.direccion|as_bootstrap_field }}
            {{ form_perfil.subscrito|as_bootstrap_field }}
          </div>
        </div>

        <!-- ÁREA DE IMAGEN DE PERFIL -->
        <div class="row mt-4">
          <div class="col-sm-12 text-center">
            <h4>Imagen de Perfil</h4>
            <div class="profile-image mb-3">
              {% if form_perfil.imagen.value %}
                <img id="cuadro-imagen" src="/media/{{ form_perfil.imagen.value }}" class="img-thumbnail" alt="Imagen de Perfil">
              {% else %}
                <img id="cuadro-imagen" src="{% static 'core/img/sin-imagen.png' %}" class="img-thumbnail" alt="Imagen de Perfil">
              {% endif %}
            </div>
            <div>
              {{ form_perfil.imagen|as_bootstrap_field }}
            </div>
          </div>
        </div>

        <!-- ÁREA DE BOTONES -->
        <div class="row mt-4">
          <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="reset" class="btn btn-secondary ml-2" id="limpiar_formulario">Limpiar</button>
            {% if form_usuario.instance.id %}
            <a class="btn btn-danger ml-2" href="{% url 'usuarios' 'actualizar' form_usuario.instance.id %}">actualiza</a>
              <a class="btn btn-danger ml-2" href="{% url 'usuarios' 'eliminar' form_usuario.instance.id %}">Eliminar</a>
            {% endif %}
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- ÁREA DE TABLA DE USUARIOS -->
  <div class="card mt-5" style="overflow-x: hidden;">
    <div class="card-header">
      <h4 class="text-center">Usuarios Registrados</h4>
    </div>
    <div class="card-body" >
      <table id="tabla-principal" class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Cuenta</th>
            <th>Tipo usuario</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>RUT</th>
            <th>Subscrito</th>
            <th>Imagen</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for usuario in usuarios %}
          <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.perfil.tipo_usuario }}</td>
            <td>{{ usuario.first_name }}</td>
            <td>{{ usuario.last_name }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.perfil.rut }}</td>
            <td>{% if usuario.perfil.subscrito %} Sí {% else %} No {% endif %}</td>
            <td>
              <img src="/media/{{ usuario.perfil.imagen }}" class="usuario-sm img-thumbnail" alt="Imagen de Perfil">
            </td>
            <td>
              <div class="btn-group">
                <a href="{% url 'usuarios' 'actualizar' usuario.id %}" class="btn btn-primary btn-sm">Editar</a>
                <a href="{% url 'usuarios' 'eliminar' usuario.id %}" class="btn btn-danger btn-sm ml-1">Eliminar</a>
              </div>
              <form action="{% url 'cambiar_password' %}" method="post" id="form_{{ usuario.username }}" class="mt-1">
                {% csrf_token %}
                <input type="hidden" id="username" name="username" value="{{ usuario.username }}">
                <button class="btn btn-info btn-sm" id="id_generar_password" onclick="document.getElementById('form_{{ usuario.username }}').submit();">Contraseña</button>
              </form>
            </td>
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'core/js/usuarios.js' %}"></script>
{% endblock script %} {% endcomment %}